html,
body {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
a:hover {
    color: #5e5e5e;
}

#page {
    margin-top: 70px;
}

.margintopspace {
    padding-top: 5.5rem !important;
}

.margintopspacetwo {
    padding-top: 2.5rem !important;
}

.marginbottomspace {
    padding-top: 5.5rem !important;
}
ul li {
    list-style: none;
}
ol, ul {
    padding-left: 0;
}
.page__home {
    overflow-x: hidden;
}
/**
* Fonts as class names
*/
.work-sans {
    font-family: 'Work Sans', sans-serif;
}
.ibm-plex-sans {
    font-family: 'IBM Plex Sans', sans-serif;
}
.dm-serif-display {
    font-family: 'DM Serif Display', serif;
}

.header .nav-profile img {
    max-height: 36px;
}
.navbar-nav {
    align-items: center;
}
/*Back to Top*/
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: #000;
    color: #fff;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #e1e1e1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}
/*Header*/
nav.navbar {}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-nav .nav-item:not(:last-child) {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    padding: 4px;
    color: black;
    font-weight: 700;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: .03571em;
}

ul.dropdown-menu {
    border-radius: 0px;
    border: 1px solid black;
    padding: 0;
}

.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown-item {
    padding: 10px;
}

.nav-link.greenregister {
    border-radius: 0px;
    border: 1px solid black;
    background-color: #d67f6c;
    color: #fff;
}

.nav-link.greenregister:hover {
    color: #d67f6c;
    background-color: #fff;
}
.navbar-nav .nav-item {
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: .0125rem;
    text-transform: uppercase;
    border: 1px solid;
}
.navbar-nav .nav-item.profile {
    border: none;
}
.navbar.scrolled, .navbar.scrolled a {
    color: white;
}
.nav-logo-dark {
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
    will-change: transform, opacity;
    transition: opacity 0.3s ease-in, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar.scrolled .nav-logo-dark {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(-112px);
    transform: translateY(-112px);
}
.nav-logo-light {
    z-index: -1;
    opacity: 0;
    margin-left: -168px;
    transform: translateY(112px);
    will-change: transform, opacity;
    transition: opacity 0.3s ease-in, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar.scrolled .nav-logo-light {
    z-index: 1;
    pointer-events: initial;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
/* Footer */
.footer__social,
.footer__stacklist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.footer__stacklist .menu-item:not(:last-child) {
    margin-right: 40px;
}

.footer__stacklist .menu-item a {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    font-stretch: condensed;
    font-style: normal;
    letter-spacing: .02778em;
}

.footer__stacklist .menu-item a:hover {
    color: #fff;
}

.footer__social svg {
    pointer-events: none;
    width: 100%;
    display: block;
    height: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__social__item {
    width: 40px;
}

.footer__social__item:not(:last-child) {
    margin-right: 20px;
}

.footer__social__item .icon {
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.footer__social__item .line {
    stroke: #fff;
    transition: stroke .3s ease-in-out;
}

p.basicblock__copy {
    color: #fff;
    padding: 30px 0 0;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    max-width: 550px;
    font-size: 1.25rem;
}

/** Article */
.yn__meta-category {
    text-transform: uppercase;
    background: rgb(0 0 0 / 28%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    color: #fff !important;
    font-size: 0.685rem;
    font-weight: 700;
    letter-spacing: 0.125em;
    transition: .25s;
}
.yn__meta-category a {
    color: #fff !important;
}
.yn__meta-category a {
    color: #fff !important;
}
.yn__meta-category:hover {
    color: #fff !important;
    background: #000 !important;
}
.ynps__article-header-title {
    margin-top: 1.25rem;
}
.ynps__article-header-subtitle {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #5e5e5e;
}
.ynps__author-avatar img {
    display: block;
    max-width: 100%;
    width: auto;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.ynps__author-avatar {
    flex: none;
    width: 26px;
    height: 26px;
    overflow: hidden;
    margin-right: 5px;
}
.ynps__article-header-meta-author a {
    color: black;
    font-size: inherit;
    transition: .25s;
    align-items: center;
}
.ynps__article-header-meta-author a:hover {
    color: #5e5e5e;
}
.ynps__article-header-meta {
    font-size: 0.685rem;
    align-items: center;
    letter-spacing: 0.05rem;
}
.ynps__article-header-meta-author {
    margin-right: 0.5rem;
}
.ynps__article-header-meta-date {
    color: #5e5e5e;
}
.ynps__article-header-meta-date::before {
    content: "·";
    font-weight: 600;
    margin-right: 0.5em;
}
.ynps__article-header-img-outer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.ynps__article-header-caption {
    font-size: 0.725rem;
    color: #5e5e5e;
    letter-spacing: 0.05rem;
}
.ynps__article-content-data,
.ynps__article-content-footer-briefing,
.ynps__article-content-footer-author {
    font-size: 1.15rem;
}
.ynps__article-content-footer-tags {
    margin-top: 3rem;
}
.yn__tag-list {
    display: flex;
}
.yn__tag-item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
}
.yn__tag-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    border: 1px solid #e9ecef;
    border-radius: 3px;
    line-height: 1;
    transition: .25s;
    color: #000;
    text-transform: uppercase;
    font-size: 0.685rem;
    font-weight: 700;
    letter-spacing: 0.125em;
}
.yn__tag-item a:hover {
    color: #fff;
    border: 1px solid #5e5e5e;
    background-color: #5e5e5e;
}
.ynps__article-content-footer-share .yn__share-buttons {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.ynps__article-content-footer-share {
    padding: 20px;
    background: #f8f9fa;
    margin-top: 3rem;
}
.ynps__article-content-footer-share .yn__share-buttons-item {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}
.ynps__article-content-footer-share .yn__share-button-link {
    height: 42px;
    border-radius: 3px;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    background: #f8f9fa;
    align-items: center;
}
.ynps__article-content-footer-share .button-twitter:hover {
    background-color: #00aced;
    color: #fff;
}
.ynps__article-left-sidebar .item-twitter:hover a {
    color: #00aced;
}
.ynps__article-content-footer-share .button-reddit:hover {
    background-color: #ff4500;
    color: #fff;
}
.ynps__article-left-sidebar .item-reddit:hover a {
    color: #ff4500;
}
.ynps__article-content-footer-share .button-facebook:hover {
    background-color: #3b5998;
    color: #fff;
}
.ynps__article-left-sidebar .item-facebook:hover a {
    color: #3b5998;
}
.ynps__article-content-footer-share .button-envelope:hover {
    background-color: #000;
    color: #fff;
}
.ynps__article-left-sidebar .item-envelope:hover a {
    color: #000;
}
.ynps__article-content-footer-share .button-linkedin:hover {
    background-color: #007bb6;
    color: #fff;
}
.ynps__article-left-sidebar .item-linkedin:hover a {
    color: #007bb6;
}
.ynps__article-content-footer-author {
    margin-top: 3rem;
}
.ynps__article-content-footer-author-inner {    
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;    
    border-top: 1px solid #e9ecef;
}
.ynps__article-content-footer-author-inner:last-child {
    border-bottom: 1px solid #e9ecef;
}
.ynps__article-content-footer-author-info {
    margin-left: 30px;
    margin-top: 0;
}
.ynps__article-content-footer-author-img {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .25s;
}
.ynps__article-content-footer-author-img img {
    display: block;
    max-width: 100%;
    width: auto;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.ynps__article-content-footer-author-position {
    text-transform: uppercase;
    display: block;
    font-size: 0.685rem;
    font-weight: 700;
    color: #5e5e5e;
    letter-spacing: 0.05rem;
}
.ynps__article-content-footer-author-name a {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    transition: .25s;
}
.ynps__article-content-footer-author-description p {
    margin-bottom: 0;
    line-height: normal;
}
/** Left SideBar */
.ynps__article-left-sidebar .yn__share-buttons-item {
    width: 100%;
    padding: 0;
    margin-right: 0;
}
.ynps__article-left-sidebar .yn__share-buttons-item:not(:first-child) {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e9ecef;
}
.yn__share-buttons-item a {
    color: #000;
    font-size: 1.25rem;
}
/** Right SideBar */
.yn-support__inner h5 {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.085em;
}
.ynps__article-left-sidebar,
.yn-page__right-sidebar {
    display: unset;
    position: relative;
}
.yn-support__inner,
.yn__share-buttons {
    transition: .4s;
    position: sticky;
    position: -webkit-sticky;
}
.yn-support__inner {
    top: 80px;
}
.yn__share-buttons {
    top: 70px;
}
/**
* Homepage
*/
article:not(:last-child) {
    margin-bottom: 1rem;
}
article:not(:first-child) {
    padding-top: 1rem;
    border-top: 1px solid #e1e1e1;
}
.nav-item {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.95rem;
}
.meta-title, .yn-page__title {
    word-wrap: break-word;
    font-family: 'DM Serif Display', serif;
}
.meta-date {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75rem;
    color: #5e5e5e;
}
.meta-category {
    color: #93989d;
    transition: .25s;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}
.meta-category:hover {
    color: #000;
}
.meta-subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
}
.yn-sf__column__title h2 {
    color: #93969d;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.yn-sf__column__header {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.yn-entry__title {
    line-height: 0.8;
}
.yn-entry__title a {
    color: #000;
    font-size: 1.5rem;
}
.latest-post__thumbnail {
    padding-right: 10px;
}
.watching-post__thumbnail {
    padding-left: 10px;
}
.yn-section {
    margin-bottom: 64px;
}
.yn-section:first-child {
    margin-top: 1.5rem;
}
.yn-section .title {
    text-align: center;
    margin-bottom: 3em;
}
.yn-section .title h2 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    font-weight: 700;
    border: 1px solid #e9ecef;
    padding: 0.75rem 1rem;
    color: #93989d;
    display: inline-flex;
}
.header-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.125rem;    
}
.header-title h6 {
    font-weight: 700;
}
.header-title h6::before {
    content: '';
    border-top: 1px solid #e9ecef;
    margin: 0.5em 1em 0 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 1em;
    flex: 1 0 1em;
}
.header-title h6::after {
    content: '';
    border-top: 1px solid #e9ecef;
    margin: 0.5em 0 0 1em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 1em;
    flex: 1 0 1em;
}
.yn-featured__content .container {
    max-width: 800px;
    text-align: center;
    margin-top: -5em;
}
.yn-featured__title h2 {
    line-height: 1.5;
}
.yn-featured__title h2 a {
    padding: 0.25em 0.35em;
    background: #1c1c1c;
    color: #fff;
    z-index: 10;
}
.yn-featured__title h2 a:hover {
    background-color: #fff;
    color: #5e5e5e;
}
.yn-featured__category {
    margin-bottom: 2em;
    display: inline-block;
}
.yn-featured__category a {
    background-color: rgba(0, 0, 0, 0.28);
    padding: 0.5em;
    color: #fff;
}
.yn-featured__category a:hover {
    background-color: rgba(0, 0, 0);
    padding: 0.5em;
}
.yn-featured__excerpt {
    font-size: 1.3rem;
    color: #343a40;
}
.yn-section.scoop {
    padding: 6em 0;
    background-color: #f9f9f9;
}
.scoop__title{
    text-transform: uppercase;
    color:#93989d;
    font-family: 'Work Sans', sans-serif;
}
.scoop-item {
    border-right: 1px solid #e9ecef;
    padding: 20px;
}
.scoop-item:last-child {
    border-right: none;
}
.yn-featured__banner img {
    height: 432px;
    object-fit: cover;
}
.grid-of-3 {
    margin-bottom: 4em;
}
.news-sub-sub-title {
    font-size: 1.25rem;
    line-height: 1.45;
    margin-bottom: 2.5em;
}
.news-subtitle {
    font-size: 1.5rem;
}
.yn-overlay__background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .25s;
    opacity: 0;
    display: flex;
    flex-direction: column;
}
.yn-overlay__background img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: .25s;
    border-radius: 0;
}
.yn-overlay__background:after, .yn-overlay__background:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .25s;
    opacity: 1;
}
.yn-overlay__background.active {
    opacity: 1;
}
.yn-layout-large__inner {
    display: grid;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
.yn-layout-large__col {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}
.yn-layout-large__col .yn-entry__inner a {
    position: relative;
    z-index: 2;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    transition: .25s;
    color: #fff;
    background-color: #1c1c1c;
    line-height: 1.85;
    padding: 0.25em 0.35em;
}
.yn-layout-large__col.active .yn-entry__inner a {
    background-color: #fff;
    color: #5e5e5e;
}
.yn-overlay-link {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.yn-layout-large__col .yn-entry__inner {
    padding: 40px;
}
.yn-section.fullscreen-news {
    position: relative;
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.25);
}
.yn-section.fullscreen-news:before {
    content: "";
    height: 100%;
    width: 0;
    padding-bottom: 25%;
}
.yn-overlay__background:after {
    background: rgba(0,0,0,0.25);
}
.yn-layout-large__col:not(:last-child) {
    border-right: 1px solid rgba(255,255,255,0.2);
}
.border-sn {
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
}
.ynps__multiAuthor {
    margin-right: 0.75em;
    color: #93969d;
}
.img__wrap {
    position: relative;
}
.img__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.32);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.85em;
    letter-spacing: 0.125em;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    padding: 20px;
}
.yn__read-more {
    font-weight: 700;
    margin-top: auto;
}
.img__wrap:hover .img__overlay {
    visibility: visible;
    opacity: 1;
}
.yn__read-time {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    align-items: center;
    text-transform: capitalize;
}
.yn-page__header .ynps__article-content-footer-author-inner {
    border: none;
}
.navbar-toggler{
    border: none;
}
@media (max-width: 575.98px) {
    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .navbar-nav .nav-item {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    .nav-logo-light {
        margin-left: -15.5em;
    }
    .navbar.scrolled .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .yn__share-buttons {
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;
    }
    .ynps__article-left-sidebar .yn__share-buttons-item {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .ynps__article-left-sidebar .yn__share-buttons-item:not(:first-child){
        padding-top: 0px;
        margin-top: 0px;
        border-left: 1px solid #e9ecef;
        border-top: none;
    }
}